// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}
.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
}
.banner p {
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.btn-ghost {
  color: #050505;
  border: 1px solid #050505;
  padding: 8px 24px;
  margin: 15px 0;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.container2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  size: 100%;
  justify-content: space-evenly;
}
.container3{
  display: grid;
  grid-gap: 16px;
  size: 100%;
  justify-content: space-evenly;
}

.search-placement {
  justify-content: space-between !important;
}
