// Import page-specific CSS files here.
@import "home";
@import "show";

.container{
  display: flex;
  size: 100%;
  justify-content: space-evenly;
}
.cards__index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}
.card-image {
  width: 350px;
}
.card-user {
  position: absolute;
  right: 16px;
  top: -20px;
}

.card-infos {
  position: relative;
}
