// Import page-specific CSS files here.
@import "home";
@import "show";
@import "profile";
@import "rent_new";
.container2{
  size: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 40px;
}

.mappy {
  margin: 60px;
}

.indextitle {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}



// .cards__index {
//   width: 350px;
//   height: 350px;
//   display: flex;
//   justify-content: space-around;
//   padding: 30px;
// }
// .card-image {
//   width: 200px;
//   height: 300px
// }
// .card-user {
//   position: absolute;
//   right: 30px;
//   top: 300px;
// }

// .card-infos {
//   width: 200px;
//   position: relative;
// }
