
.complete {
  display: flex;
  justify-content: space-evenly;
}

.bar {
  width: 20%;
  background-color: #d8d8d8;
  color: #333;
  padding: 50px;
}

.user-pic {
  width: 150px;
  border-radius: 50%;
}

.centered-text{
  text-align: center;
}

.cos {
  // display: flex;
  // flex: 60;
  width: 80%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cos h2 {
  margin-bottom: 25px;
}


.rented-cos {
  // flex: 1;
}

.cos-card-rent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.cos-method{
  text-align: center;
  background-color: rgba(186, 192, 192, 0.562);
  margin: 0px 10px 25px;
  border-radius: 5%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cos-method h5{
  margin-top: 15px;
}

.cos-method p{
  margin-bottom: 0px;
}

.cos-image{
  display: flex;
  flex-wrap: wrap;
}

.rounded-borders {
  border-radius: 5% 5% 0% 0%;
}

.my-cos {

}

.cos-card-my {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

// .complete {
//   display: flex;
//   height: 100vh;
// }

// .bar {
//   width: 20%;
//   background-color: #333;
//   color: white;
//   padding: 20px;
// }

// .cos {
//   width: 80%;
//   padding: 20px;
//   display: flex;
//   flex-wrap: wrap;
//   gap: 20px;
// }

// .rented-cos {
//   flex: 1;
//   background-color: #f4f4f4;
//   border: 1px solid #ccc;
//   padding: 10px;
// }

// .my-cos {
//   flex: 1;
//   background-color: #f4f4f4;
//   border: 1px solid #ccc;
//   padding: 10px;
// }
