.card_edit {
  width: 400px;
  border-radius: 0% 0% 5% 5%;
  height: 250px;
  padding: 10px;
  font-weight: lighter;
  opacity: 0.8;
  background-color: rgba(186, 192, 192, 0.562);
  p {
    font-size: 24px;
  }
}
