.costume img {
  width: 450px;
  margin: 40px;
}

.card-image {
  width: 350px;
}

.card-user {
  position: absolute;
  right: 16px;
  top: -20px;
}

.card-infos {
  position: relative;
}

.map {
  margin: 40px;
}

.card-costume {
  background-color: white;
  padding: 5px;
}
